<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Cucumber-JVM Reports - Feature: $feature.getRawName() </title>
<link rel="shortcut icon" href="blue/favicon.ico" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" />

<script type="text/javascript">
    function toggle(expander, elem) {
       if (elem.is(":visible")) {
         expander.html("+ ");
       } else {
         expander.html("- ");
       }
       elem.toggle();
    }

    function toggleError(button, stepNum) {
       var elem = $("#step-error-" + stepNum);
       if (elem.is(":visible")) {
         button.html("+ Error");
       } else {
         button.html("- Error");
       }
       elem.toggle();
    }

    function toggleDocString(button, stepNum) {
       var elem = $("#docstring-" + stepNum);
       if (elem.is(":visible")) {
         button.html("+ DocString");
         elem.hide();
       } else {
         button.html("- DocString");
         elem.css("display", "inline-block");
       }
    }

    $(document).ready(function() {

    });
</script>
<style>
/*http://stackoverflow.com/questions/18432577/stacked-tabs-in-bootstrap-3*/
.tabs-below > .nav-pills,
.pills-right > .nav-pills,
.tabs-left > .nav-pills {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-pills {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-pills > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-pills > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-pills > li > a:hover,
.tabs-below > .nav-pills > li > a:focus {
  border-top-color: #ddd;
}

.tabs-left > .nav-pills > li,
.pills-right > .nav-pills > li {
  float: none;
}

.tabs-left > .nav-pills > li > a,
.pills-right > .nav-pills > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-pills {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-pills > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-pills .active > a,
.tabs-left > .nav-pills .active > a:hover,
.tabs-left > .nav-pills .active > a:focus {
  *border-right-color: #ffffff;
}

.pills-right > .nav-pills {
  float: right;
  margin-left: 10px;
}

.nav-pills>li.active>a, 
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  background-color: #f8f8f8;
  border: 2px solid darkgreen;
  color: black;
}

.pill-error > .active > li > a {
  background-color: pink;
}

.pills-right > .nav-pills > li > a {
  margin-left: -1px;
  border-radius: 4px;
}

.pills-right > .nav-pills > li > a:hover,
.pills-right > .nav-pills > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.pills-right > .nav-pills .active > a,
.pills-right > .nav-pills .active > a:hover,
.pills-right > .nav-pills .active > a:focus {
  *border-left-color: #ffffff;
}

.title {
  text-align: center
}

.toggle {
  cursor: pointer;
  width: 15px;
  float: left;
}

.step-info {
  display: none;
  cursor: pointer;
  margin: 10px 25px 10px 0px;
  padding: 5px;
  border-radius: 3px;
  font-weight: normal;
}

section {
  margin: 0px 10px 0px 10px;
  padding: 10px 2px 0px 2px;
}

.doc-string {
    width:auto;
    display:inline-block;
    overflow: hidden;
    margin: 10px auto 10px 70px;
    padding: 10px;
    background-color:rgba(255,255,255,0.35);
    border-radius: 10px;
    font-family: "Courier New", Courier, monospace;
    font-size: 95%;
}

.navbar {
  margin: 10px;
}

.description {
  background-color:green;
}

.feature-tags {
}

body {
  background-color: #204000;
  font-size: 14px;
}

.passed { color: green; }
.failed { color: red; }
.skipped { color: grey; }
.pending { color: blue; }
.undefined { color: #CC9933; }
.missing { color: #CC9933; }

.feature {
  margin: 10px;
  background-color: #f0ffeb;
  border-radius: 4px;
}

.feature-info {
  padding: 0px 10px 0px 10px;
}

.scenario {
  padding: 5px;
  margin: 10px 15px 10px 15px;
  background-color: white;
  border-radius: 4px;
  font-weight: 500;
}

.step {
  clear: both;
  padding: 1px 1px 1px 20px;
}

.col-split {
  border-right: 1px solid lightgray;
}

.feature-stats {
  border: 1px solid lightgray;
  background-color: white;
}

.error-message {
  border: 1px solid red;
}

.tab-content {
  margin-right: 0px;
}

.keyword {
  font-weight: 900;
}

.tab-pane pre {
  margin-left: 10px;
}

.background-name {
  padding-left: 10px;
  font-weight: 900;
}

.table {
  border: 2px solid grey;
}

.table thead > tr > th { 
  border-bottom: 2px solid gray;
}
</style>

</head>
<body>
<div>
    <nav role="navigation" class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand">Cucumber Feature Report</p>
        </div>
        <!-- Collection of nav links and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="feature-overview.html">Features</a></li>
                <li><a href="tag-overview.html">Tags</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class='feature'>
<section>
  <table class="table feature-stats">
    <thead>
      <tr>
        <th class='col-split'>Feature</th>
        <th class='text-right'>Scenarios</th>
        <th class='text-right'>Passed</th>
        <th class='col-split text-right'>Failed</th>
        <th class='text-right'>Steps</th>
        <th class='text-right'>Passed</th>
        <th class='text-right'>Failed</th>
        <th class='text-right'>Skipped</th>
        <th class='col-split text-right'>Pending</th>
        <th class='col-split text-right'>Duration</th>
        <th>Status</th>
      </tr>
    </thead>
    <tr>
      <td style='font-weight:bold;' class='col-split'>$feature.getRawName()</td>
      <td class='text-right'>$feature.getNumberOfScenarios()</td>
      <td class='text-right'>$feature.getNumberOfScenariosPassed()</td>
      <td class='col-split text-right'>$feature.getNumberOfScenariosFailed()</td>
      <td class='text-right'>$feature.getNumberOfSteps()</td>
      <td class='text-right'>$feature.getNumberOfPasses()</td>
      <td class='text-right'>$feature.getNumberOfFailures()</td>
      <td class='text-right'>$feature.getNumberOfSkipped()</td>
      <td class='col-split text-right'>$feature.getNumberOfPending()</td>
      <td class='col-split text-right'>$feature.getDurationOfSteps()</td>
      <td style="font-weight: bold"
        class="$feature.getRawStatus()">$feature.getRawStatus().toUpperCase()</td>
    </tr>
  </table>
</section>

<section>
  <div class='feature-info'>
    #if ($feature.getDescription() != "")
      Description: $feature.getDescription()
    #end
    #if (!($feature.getTagsList().isEmpty()))
      Tags: $feature.getTagsList().get(0)
    #end
  </div>
</section>

<!-- Not a huge fan of using this global counter, but I couldn't get anything
else to work.  See its use below. -->
#set($ctr = 1)
<section>
  #foreach($scenarioInfo in $scenarios)
    <div class='scenario'>
      #if (!($scenarioInfo.getScenario().getTagsList().isEmpty()))
        $scenarioInfo.getScenario().getTagsList()
      #end

      <h4>
        <div class='toggle' onclick='toggle($(this), $(this).parent().next())'>- </div>
        <span class='$scenarioInfo.getStatus().toString().toLowerCase()'>
          $scenarioInfo.title()
        </span>
      </h4>

      <div>
        #if ($scenarioInfo.hasBackground())
          #if (!($scenarioInfo.getBackground().getTagsList().isEmpty()))
            $scenarioInfo.getBackground().getTagsList()
          #end
          <div class='background-name'>
            <div class='toggle'
              onclick='toggle($(this), $(this).parent().next())'>- </div>
            <span
              class='$scenarioInfo.getBackground().getStatus().toString().toLowerCase()'>
              Background: $scenarioInfo.getBackground().getRawName()
            </span>
          </div>
          #scenario($scenarioInfo.getBackground())
          <div>&nbsp;</div>
        #end
        #scenario($scenarioInfo.getScenario())
      </div>
    </div>
  #end
</section>

<div class="row">
  <div class="col-md-12 text-center">
    <p style="color:lightgray;">Cucumber-JVM Jenkins Report Plugin - version: $version - $time_stamp</p>
  </div>
</div>

</body>

#macro( scenario $scenario )
  <div class='scenario-body'>
    #foreach($step in $scenario.getSteps().toList())
      <div class='step'>
        <div class='row'>
          <div class='col-md-10'>
            #if ($step.hasDocString() || $step.hasErrorMessage() || $step.hasOutput())
              <div class='toggle' onclick='toggle($(this),
                $(this).parent().parent().next())'>+ </div>
            #else
            <div class='toggle'>&nbsp;</div>#end<span
              class='$step.getStatus().toString().toLowerCase()'><span
            class='keyword'>$step.getKeyword()</span> $step.getRawName()</span>
          </div>
          <div class='col-md-2 text-right'>
            $Util.formatDuration($step.getDuration())
          </div>
        </div>
        <div class='step-info'>
          #if($step.hasRows())
            <div class="data $step.getDataTableClass()">
              <table class="data-table">
                #foreach($row in $step.getRows())
                <tr>
                  #foreach($cell in $row.getCells())
                  <td>$esc.html($cell)</td>
                  #end
                </tr>
                #end
              </table>
            </div>
          #end
          #if ( $step.hasDocString() || $step.hasOutput() || $step.hasErrorMessage())
          <div class='tabbable pills-right'>
              <ul class="nav nav-pills">
                #if ( $step.hasErrorMessage() )
                  <li class='active'>
                    <a class='pill-error' href="#err$ctr" data-toggle="tab">Error</a>
                  </li>
                #end
                #if ( $step.hasDocString())
                <li #if (!$step.hasErrorMessage())class='active'#end>
                  <a href="#doc$ctr" data-toggle="tab">DocString</a>
                </li>
                #end
                #if ( $step.hasOutput() )
                <li
                  #if (!$step.hasDocString() && !$step.hasErrorMessage()) class='active'#end>
                  <a href="#out$ctr" data-toggle="tab">Output</a></li>
                #end
              </ul>
            <div class="tab-content">
              #if ( $step.hasDocString())
                <div class="tab-pane active"
                  id="doc$ctr"><pre style='border: 1px solid
darkgreen'>$step.getDocStringOrNothing($ctr)</pre></div>
              #end
              #if ( $step.hasErrorMessage() )
                <div 
                  class="tab-pane
                  #if (!$step.hasDocString()) active#end" id="err$ctr">
                  <pre style='border: 1px solid red'>$step.getErrorMessage()</pre>
                </div>
              #end
              #if ( $step.hasOutput() )
                <div class="tab-pane 
                  #if (!$step.hasDocString() && !$step.hasErrorMessage()) active#end" 
                  id="out$ctr"><pre>$step.getOutput()</pre></div>
              #end
            </div>
          </div>
          #end
        </div>
      </div>
      #set($ctr = $ctr + 1)
    #end
  </div>

#end
