<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>Cucumber-JVM Reports - Feature Overview</title>
	<link rel="shortcut icon" href="blue/favicon.ico" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/base/jquery-ui.css" rel="stylesheet" />
    <script src="js/highcharts.js"></script>

<style>
.feature-keyword{font-weight:bold;}
.feature-description{padding-left:15px;font-style:italic;background-color:beige;}
.feature-role{font-weight:bold;}
.feature-action{font-weight:bold;}
.feature-value{font-weight:bold;}
.feature-tags{padding-top:10px;padding-left:15px;color:darkblue;}
.scenario-keyword{font-weight:bold;padding-left:15px;}
.scenario-scenario_name{padding-left:15px;}
.step-keyword{font-weight:bold;padding-left:50px;}
.step-error-message{background-color:#FFEEEE;padding-left:50px;border: 1px solid #D88A8A;}

body {
  background-color: darkgreen;
  font-size: 14px;
}

.navbar {
  margin: 10px;
}

.passed { color: green; }
.failed { color: red; }
.skipped { color: grey; }
.pending { color: blue; }
.undefined { color: #CC9933; }
.missing { color: #CC9933; }

.chart {
  border: 1px solid gray;
  width: 380px;
  height: 300px;
}

section {
  margin: 0px 10px 0px 10px;
  padding: 10px 10px 0px 10px;
}

.content {
  margin: 10px;
  background-color: #f0ffeb;
  border-radius: 4px;
}

.feature-stats {
  border: 1px solid lightgray;
  background-color: white;
}

.col-split {
  border-right: 1px solid lightgray;
}

</style>

<script>
    $(document).ready(function() {
        var formatter = function () {
            return this.point.name + ': <b>' +
                Highcharts.numberFormat(this.percentage, 1) + '%</b>';
        };

        $('#steps_chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Steps'
            },
            tooltip: {
                formatter: formatter
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    innerSize: '40%',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: formatter
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Steps',
                data: [
                    {
                        name: 'Passed',
                        color: 'green',
                        y: $total_passes
                    },
                    {
                        name: 'Failed',
                        color: 'red',
                        y: $total_fails
                    },
                    {
                        name: 'Skipped',
                        color: 'grey',
                        y: $total_skipped
                    },
                    {
                        name: 'Pending',
                        color: "yellow",
                        y: $total_pending
                    }
                ]
            }]
        });

        $('#scenarios_chart').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Scenarios'
            },
            tooltip: {
                formatter: formatter
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    innerSize: '40%',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: formatter
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Scenarios',
                data: [
                    {
                        name: 'Passed',
                        y: $scenarios_passed,
                        color: 'green'
                    },
                    {
                        name: 'Failed',
                        y: $scenarios_failed,
                        color: 'red'
                    }
                ]
            }]
        });
    });
</script>
</head>
<body>

<nav role="navigation" class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <p class="navbar-brand">Cucumber Feature Overview</p>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="tag-overview.html">Tags</a></li>
        </ul>
    </div>
</nav>

<div class='content'>
<section>
<div class='container'>
  <div class='row'>
    <div class='col-md-6 col-centered'>
      <div class='chart' id="steps_chart"></div>
    </div>
    <!--#E6FCFF;width:480px;height:300px;border: 1px solid gray;"-->
    <div class='col-md-6 col-centered'>
        <div class='chart' id="scenarios_chart"></div>
    </div>
</div>
</div>
</section>
<br/>

<section>
  <table class="table feature-stats">
    <thead>
      <tr>
        <th class='col-split'>Feature</th>
        <th class='text-right'>Scenarios</th>
        <th class='text-right'>Passed</th>
        <th class='col-split text-right'>Failed</th>
        <th class='text-right'>Steps</th>
        <th class='text-right'>Passed</th>
        <th class='text-right'>Failed</th>
        <th class='text-right'>Skipped</th>
        <th class='col-split text-right'>Pending</th>
        <th class='col-split text-right'>Duration</th>
        <th>Status</th>
      </tr>
    </thead>
    #foreach($feature in $features)
      $feature.processSteps()
    <tr>
      <td class='col-split'><a
          href="$feature.getFileName()">$feature.getRawName()</a></td>
      <td class='text-right'>$feature.getNumberOfScenarios()</td>
      <td class='text-right'>$feature.getNumberOfScenariosPassed()</td>
      <td class='col-split text-right'>$feature.getNumberOfScenariosFailed()</td>
      <td class='text-right'>$feature.getNumberOfSteps()</td>
      <td class='text-right'>$feature.getNumberOfPasses()</td>
      <td class='text-right'>$feature.getNumberOfFailures()</td>
      <td class='text-right'>$feature.getNumberOfSkipped()</td>
      <td class='col-split text-right'>$feature.getNumberOfPending()</td>
      <td class='col-split text-right'>$feature.getDurationOfSteps()</td>
      <td 
        class="$feature.getRawStatus()">$feature.getRawStatus().toUpperCase()</td>
    </tr>
    #end
    <tr>
      <td class='col-split'>Totals</td>
      <td class='text-right'>$total_scenarios</td>
      <td class='text-right'>$scenarios_passed</td>
      <td class='col-split text-right'>$scenarios_failed</td>
      <td class='text-right'>$total_steps</td>
      <td class='text-right'>$total_passes</td>
      <td class='text-right'>$total_fails</td>
      <td class='text-right'>$total_skipped</td>
      <td class='col-split text-right'>$total_pending</td>
      <td class='col-split text-right'>$total_duration</td>
      <td>&nbsp</td>
    </tr>
  </table>
</section>
</div>

<div class="row">
  <div class="col-md-12 text-center">
    <p style="color:lightgray;">Cucumber-JVM Jenkins Report Plugin - version: $version - $time_stamp</p>
  </div>
</div>

</body>
</html>
